<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- data connection -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/studiofile"></property>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <!-- session factory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/studiofile</prop>
                <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
            </props>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>com.entity.ActivityEntity</value>
                <value>com.entity.BookEntity</value>
                <value>com.entity.CompetitionEntity</value>
                <value>com.entity.ProjectfileEntity</value>
                <value>com.entity.SoftwareEntity</value>
                <value>com.entity.UserEntity</value>
                <value>com.entity.WorkroomEntity</value>
            </list>
        </property>
    </bean>
    <!--配置Action的类-->
    <bean id="userAction" class="com.action.UserAction" scope="prototype">
        <property name="userService" ref="userService"></property>
        <property name="workroomService" ref="workroomService"></property>
    </bean>
    <bean id="workroomAction" class="com.action.WorkroomAction" scope="prototype">
        <property name="workroomService" ref="workroomService"></property>
    </bean>
    <bean id="projectAction" class="com.action.ProjectAction" scope="prototype">
        <property name="projectService" ref="projectService"></property>
        <property name="userService" ref="userService"></property>
    </bean>
    <bean id="competitionAction" class="com.action.CompetitionAction" scope="prototype">
        <property name="competitionService" ref="competitionService"></property>
        <property name="userService" ref="userService"></property>
    </bean>
    <bean name="softwareAction" class="com.action.SoftwareAction" scope="prototype">
        <property name="softwareService" ref="softwareService"></property>
        <property name="userService" ref="userService"></property>
    </bean>
    <bean id="bookAction" class="com.action.BookAction" scope="prototype">
        <property name="bookService" ref="bookService"></property>
        <property name="userService" ref="userService"></property>
    </bean>


    <!--配置业务层的类-->
    <bean id="userService" class="com.serviceimpl.UserServiceImpl" >
        <property name="userdao" ref="userDao"></property>
    </bean>
    <bean id="workroomService" class="com.serviceimpl.WorkroomServiceImpl">
        <property name="workroomDao" ref="workroomDao"></property>
    </bean>
    <bean id="projectService" class="com.serviceimpl.ProjectServiceImpl">
        <property name="projectDao" ref="projectDao"></property>
    </bean>
    <bean id="competitionService" class="com.serviceimpl.CompetitionServiceImpl">
        <property name="competitionDao" ref="competitionDao"></property>
    </bean>
    <bean id="softwareService" class="com.serviceimpl.SoftwareServiceImpl">
        <property name="softwareDao" ref="softwareDao"></property>
    </bean>
    <bean id="bookService" class="com.serviceimpl.BookServiceImpl">
        <property name="bookDao" ref="bookDao"></property>
    </bean>


    <!--配置DAO的类-->
    <bean id="userDao" class="com.daoimpl.UserDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="workroomDao" class="com.daoimpl.WorkroomDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="projectDao" class="com.daoimpl.ProjectDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="competitionDao" class="com.daoimpl.CompetitionDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="softwareDao" class="com.daoimpl.SoftwareDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="bookDao" class="com.daoimpl.BookDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>


    <!-- 定义事务管理器 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <!-- 声明使用注解式事务 -->
    <tx:annotation-driven transaction-manager="transactionManager" />

    <context:annotation-config/>
    <context:component-scan base-package="com"/>
</beans>



